[submodule "serving/external/googletest"]
	path = serving/external/googletest
	url = https://github.com/google/googletest.git
[submodule "serving/external/json"]
	path = serving/external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "serving/external/exprtk"]
	path = serving/external/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "serving/external/SimpleWebServer"]
	path = serving/external/SimpleWebServer
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "serving/external/folly"]
	path = serving/external/folly
	url = https://github.com/facebook/folly.git
