[submodule "external/wangle"]
	path = external/wangle
	url = https://github.com/facebook/wangle.git
[submodule "external/fbthrift"]
	path = external/fbthrift
	url = https://github.com/facebook/fbthrift
[submodule "external/fizz"]
	path = external/fizz
	url = https://github.com/facebookincubator/fizz.git
[submodule "external/rsocket-cpp"]
	path = external/rsocket-cpp
	url = https://github.com/rsocket/rsocket-cpp.git
[submodule "external/folly"]
	path = external/folly
	url = https://github.com/facebook/folly.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
